
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(169,3,41,1);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
}

h2 {
  margin-bottom: 3px;
}

#imagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#imagecontainer img {
  max-width: 500px;
}

#imagecontainer button {
  width: 100%;
  padding: 4px;
  background-color: #6d061d;
  border: none;
  font-size: 1.1rem;
}

#imagecontainer button:focus {
  outline: 1px solid #3d0411;
  font-weight: bold;
}

#imagecontainer button:active {
  outline: 2px solid #3d0411;
}

#selection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 200px;
  background: linear-gradient(to right, black 65%, #d03440 74%, #d03440 80%, #fa868f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#selection a {
  cursor: pointer;
}

#allpictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#allpictures img {
  flex-basis: 100px;
  flex-grow: 1;
  max-width: 250px;
  max-height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
