
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(169,3,41,1);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
}

h2 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

button, #logo {
  cursor: pointer;
}

.hide {
  display: none;
}

#imagecontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 120px;
  width: 50%;

  /* Styling for blurred border */
  position: relative;
	border: solid 1.5em rgba(#000, .03);
	padding: 0 1em;
	height: 50vmin;
	box-shadow: 2px 2px 5px rgba(#000, .2),
							2px 2px 17px rgba(#000, .35),
							2px 2px 25px rgba(#000, .5);
}

#imagecontainer:before {
  position: absolute;
  z-index: -1; /* put it *behind* parent */
  top: -1.5em; right: -1.5em; bottom: -1.5em; left: -1.5em; /* This is the border width */
  border: inherit;
  border-color: transparent;
  background: inherit;
  background-clip: border-box;
  -webkit-filter: blur(9px);
          filter: blur(9px);
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  content: '';
}

#imagecontainer button {
  width: 100%;
  height: 28px;
  padding: 4px;
  background-color: #6d061d;
  border: none;
  font-size: 1.1rem;
}

#imagecontainer button:nth-of-type(1) {
  position: absolute;
  bottom: -54px;
}

#imagecontainer button:nth-of-type(2) {
  position: absolute;
  bottom: -84px;
}

#imagecontainer button:focus {
  outline: 1px solid #3d0411;
  font-weight: bold;
}

#imagecontainer button:active {
  outline: 2px solid #3d0411;
}

#selection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 200px;
  margin-bottom: 30px;
  background: linear-gradient(to right, black 65%, #d03440 74%, #d03440 80%, #fa868f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#selection a {
  cursor: pointer;
}

#selection a.current-breed {
  font-weight: bold;
  font-size: 1.2rem;
}

#gallery-container {
  width: 100%;
  background-color: black;
  border-radius: 8px;
}

#gallery-container h1 {
  margin-top: 1em;
  margin-left: 40%; /* This is so that the 'title' text only shows when you hover over the header and close by */
  margin-right: 40%; /* Same as above */
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  font-weight: 100;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#gallery img {
  flex-basis: 100px;
  flex-grow: 1;
  max-width: 250px;
  max-height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

/* Responsive design */

@media (max-width: 900px) {
  #logo {
    color: crimson;
  }

  #imagecontainer {
    height: 80vmin;
    width: 100%;
  }

  #imagecontainer::before {
    display: none;
  }
}
